.view-more-page-back{
  background-color: #020617;
}
.view-more-page-main{
  padding: 80px 163px;
}
.view-more-page-text h1{
  font-family: "Space Grotesk", sans-serif;
  font-size: 42px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin-bottom: 32px;
}
.view-more-page-text span{
  color: #eab308;
}
.all-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.view-more-card{
  position: relative;
  max-width: 350px;
}
.view-more-card img{
  width: 100%;
  border: 1px solid #eab308;
  border-radius: 10px;
  height: 350px;
}
.view-more-image-overlay{
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 350px;
  top: 120px;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}
.view-more-card:hover .view-more-image-overlay{
  opacity: 1;
}
.view-more-image-overlay h1{
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}
.view-more-image-overlay span{
  color: #eab308;
}
.view-more-image-overlay p{
  color: #eeeeee;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  max-width: 600px;
  margin-bottom: 8px;
}
.click-me{
  padding: 10px;
  border-radius: 8px;
  color: #eeeeee;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  border: none;
  background-color: #ceb027;
  font-weight: 500;
}