.home-page-back {
  background-color: #111827;
}
#myName{
  color: #fce192;
}
.home-page {
  padding: 96px 163px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: row; */
}
.home-page-left h4 {
  color: #eab308;
  font-size: 25px;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 24px;
}
.home-page-left h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 56px;
  font-weight: 700px;
  color: #fff;
  margin-bottom: 15px;
  max-width: 650px;
}
.home-page-right img {
  max-width: 550px;
  height: 505px;
  box-shadow: 0px 0px 10px rgba(177, 75, 75, 0.9);
  border-radius: 10px;
}

.home-page-right img:hover {
  box-shadow: 0px 0px 10px #794825;
}

@media(max-width:1270px){
  .home-page{
    padding: 96px 90px;
  }
  .home-page-left h1{
    font-size: 45px;
    max-width: 500px;
  }
}
@media(max-width:1126px){
  .home-page{
    display: flex;
    justify-content: flex-start;
  }
  .home-page-right{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media(max-width:500px){
  .home-page{
    padding: 40px 40px;
  }
  .home-page-left h1 {
    font-size: 30px;
   
  }
  .home-page-left h4{
    font-size: 20px;
  }
  .home-page-right img {
    max-width: 327px;
    height: 327px;
   
  }
}